.contenedorDiv{
    padding-top: 20px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.tarjetaDiv{
    width: 300px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    text-align: center;
    margin: 0 auto;
}
.tarjetaDiv img{
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
}
.tarjetaDiv p{
    text-align: justify;
    padding: 10px;
}