.ContenedorTargeta{
    margin: 0 auto;
    width: 90%;
    height: 400px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.Tarjeta{
    padding: 10px;
    margin: 10px;
    width: 350px;
    height: 380px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.Tarjeta img{
    width: 90%;
    border-radius: 5px;
    align-items: center;
}