.pieDiv{
    background-color: black;
    width: 100%;
    display: flex;
}
.pieIzqDiv{
    color: white;
    width: 50%;
    text-align: left;
    padding-left: 20px;
}
.pieDerDiv{
    color: white;
    width: 50%;
    text-align: right;
    padding-right: 20px;
}